<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 150px;
        }

        .row {
            margin-bottom: 10px;
        }


    </style>
</head>
<body>
<a th:href="@{/library/}" href="books.html">Назад</a>
<h2>Редактирование книги</h2>
<form th:action="@{/library/book/__${book.id}__/edit}" method="post" action="list.html">
    <div class="row">
        <label for="book-title">Название книги:</label>
        <input id="book-title" type="text" th:value="${book.title}" value="Сказка о царе Салтане" required name="title"
               size=100/>
    </div>
    <div class="row">
        <label for="author-name">Имя автора:</label>
        <input id="author-name" type="text" th:value="${book.author.name}" value="Александр Пушкин" required
               name="author" size=100/>
    </div>
    <div class="row">
        <label for="book-genre">Жар:</label>
        <select id="book-genre" size="1" required name="genreId" />
            <option th:value="${book.genre.id}" th:text="${book.genre.type}">Классическая проза</option>
        </select>
    </div>
    <button type="submit">Обновить</button>
</form>
<script type="text/javascript">
    const selectElement = document.querySelector('select');
    const genreId = document.querySelector('option').value;
    console.log(genreId);
    fetch('/library/genre/all')
   .then(response => response.json())
   .then(result => result.forEach(el => {
            if (genreId != el.id) {
                let optionElement = document.createElement("option");
                optionElement.value = el.id;
                optionElement.text = el.type;
                selectElement.appendChild(optionElement);
            }
        })
   );
</script>
</body>
</html>