<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 150px;
        }

        .row {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<a th:href="@{/library/book/all}" href="books.html">Назад</a>
<h2>Добавление новой книги</h2>
<form th:action="@{/library/book/add}" method="post" action="list.html">
    <div class="row">
        <label for="book-title">Название книги:</label>
        <input id="book-title" type="text" required name="title" size=100/>
    </div>
    <div class="row">
        <label for="author-name">Имя автора:</label>
        <input id="author-name" type="text" required name="author" size=100/>
    </div>
    <div class="row">
        <label for="book-genre">Жар:</label>
        <select id="book-genre" size="1" required name="genre">
            <option th:each="genre : ${genres}" th:text="${genre.type}">Классическая проза</option>
        </select>
    </div>
    <button type="submit">Добавить</button>
</form>
</body>
</html>