<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .row {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<a th:href="@{/library/book/all}" href="books.html">Назад</a>
<h2>Подтверждение удаления книги</h2>
<form th:action="@{/library/book/__${book.id}__/delete}" method="post" action="list.html">
    <div class="row">
        <input id="book-title" name="title" type="text" readonly="readonly" th:value="${book.title}" size=100
               value="Евгений Онегин"/>
    </div>
    <button type="submit">Удалить</button>
</form>
</body>
</html>