body {
    padding: 50px;
}

.buttons-horiz {
    display: flex;
    justify-content: center;
}

label {
    display: inline-block;
    width: 150px;
}

.row {
    margin-bottom: 10px;
    margin-top: 10px;
}